<li><label for="id_education_name">Описание:</label> <input type="text" name="education_name" maxlength="255" id="id_education_name"> <span class="helptext">Специальность, учебное заведение</span></li>
<li><label for="id_education_start">Дата начала:</label> <input type="text" name="education_start" id="id_education_start"></li>
<li><label for="id_education_end">Дата завершения:</label> <input type="text" name="education_end" id="id_education_end"></li>
<li><label for="id_studying_now">Studying now:</label> <select name="studying_now" id="id_studying_now">
  <option value="unknown" selected>Unknown</option>

  <option value="true">Yes</option>

  <option value="false">No</option>

</select></li>