<li><label for="id_title">Название:</label> <input type="text" name="title" maxlength="150" required id="id_title"> <span class="helptext">Python программист, iOS-разработчик, итд.</span></li>
<li><label for="id_fullname">Фамилия и имя:</label> <input type="text" name="fullname" maxlength="255" required id="id_fullname"> <span class="helptext">Иванов Иван</span></li>
<li><label for="id_english">Владение английским:</label> <select name="english" required id="id_english">
  <option value="" selected>---------</option>

  <option value="0">Не знаю</option>

  <option value="a1">A1 - Начальный уровень</option>

  <option value="a2">A2 - Элементарный уровень </option>

  <option value="b1">B1 - Средний уровень</option>

  <option value="b2">B2 - Средне-продвинутый уровень</option>

  <option value="c1">C1 - Продвинутый уровень </option>

  <option value="c2">C2 - Владение в совершенств</option>

</select></li>
<li><label for="id_email">Email:</label> <input type="email" name="email" maxlength="254" required id="id_email"></li>
<li><label for="id_linkedin">Linkedin:</label> <input type="url" name="linkedin" maxlength="200" id="id_linkedin"> <span class="helptext">Ссылка на профиль, пример: linkedin.com/in/you_name</span></li>
<li><label for="id_github">Github:</label> <input type="url" name="github" maxlength="200" id="id_github"> <span class="helptext">Ссылка на профиль, пример: github.com/you_name</span></li>
<li><label for="id_contact">Контакт:</label> <input type="text" name="contact" maxlength="100" required id="id_contact"> <span class="helptext">Предпочитаемый способ связи (емайл, линкендин, телеграмм и т.п.)</span></li>
<li><label for="id_description">Описание:</label> <textarea name="description" cols="40" rows="10" maxlength="1000" id="id_description">
</textarea></li>
<li><label for="id_skills">Навыки:</label> <textarea name="skills" cols="40" rows="10" maxlength="1000" required id="id_skills">
</textarea> <span class="helptext">Знаю React.js, пользуюсь Vim, Работал с AWS</span></li>
<li><label for="id_awards">Награды, сертификаты:</label> <textarea name="awards" cols="40" rows="10" maxlength="1000" id="id_awards">
</textarea> <span class="helptext">Участие в олимпиадах, хакатонах, других профильных меропритиях. Курсы.</span></li>