<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <title>Django Formset with Vuejs</title>
    <div class="container">
        <a href="{% url 'create' %}">Add</a>
    {% block content %}
        <ul>
            <li>
                <a href="{% url 'author' %}">Django nested forms using Django formsets and Vue.js</a>
            </li>
        </ul>
    {% endblock content %}
</div>

</body>
</html>